.search-container{
    padding-top: 5rem;
}
.search-table{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.search-bar {
    position: relative;
    display:flex ;
    justify-content: end;
    margin: 2rem 70px;
  }
  
  #search-input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s;
    background-color: black;
  }
  
  .search-button:hover {
    background-color: #f1f1f1;
  }
  
  .search-button i {
    color: #fff;
  }
  

  @media (max-width: 430px) {
    .search-bar {
      /* max-width: 50px; */
      justify-content: center;
    }
  }
  